# libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

# importing the dataset

In [2]:
df = pd.read_csv('data.csv')
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [10]:
print(df.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [11]:
print(df.tail())

   Country   Age   Salary Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
print(df.dtypes)

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [13]:
print(df.isna().sum())

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [14]:
# for the numerics values we compare the mean and the median of the column
# if the difference betweent the both is very huge we verify that the outliers
# are effecting the data
print(df['Age'].mean())
print(df['Age'].median())

38.77777777777778
38.0

In [15]:
print(df['Salary'].mean())
print(df['Salary'].median())

63777.77777777778
61000.0

In [16]:
print(df['Country'].value_counts())

France     4
Spain      3
Germany    3
Name: Country, dtype: int64

In [18]:
print(df['Purchased'].value_counts())

No     5
Yes    5
Name: Purchased, dtype: int64

# Data-preprocessing

In [20]:
# extracting required x and y from the data set
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
print(x)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [21]:
print(type(x))

<class 'numpy.ndarray'>

In [22]:
print(type(y))

<class 'numpy.ndarray'>

In [ ]:
# Imputing the missing values